{% for section, _ in sections.items() %}
{% if section != "Internal" %}

### {{ section }}

{% for category, definition in definitions.items() %}
{% if sections[section][category] %}
#### {{ category }}

{% for text, _ in sections[section][category] %}
- {{ text }}
{% endfor %}

{% endif %}
{% endfor %}
{% endif %}
{% endfor %}
