USE [banking]
GO
/****** Object:  Table [dbo].[calendar]    Script Date: 25/11/2025 10:39:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[calendar](
	[id_date] [date] NOT NULL,
	[date_local_format] [varchar](50) NOT NULL,
	[date_integer] [int] NOT NULL,
	[year] [smallint] NOT NULL,
	[year_short] [tinyint] NOT NULL,
	[quarter] [tinyint] NOT NULL,
	[quarter_name] [char](2) NOT NULL,
	[month_number] [tinyint] NOT NULL,
	[month_number_padded] [char](2) NOT NULL,
	[month_name] [varchar](25) NOT NULL,
	[month_abbrv] [char](3) NOT NULL,
	[period] [int] NOT NULL,
	[week] [tinyint] NOT NULL,
	[year_week] [int] NOT NULL,
	[day_of_month] [tinyint] NOT NULL,
	[day_of_year] [smallint] NOT NULL,
	[day_of_week] [tinyint] NOT NULL,
	[weekday] [varchar](25) NOT NULL,
	[weekday_abbrv] [char](3) NOT NULL,
	[weekday_initial] [char](1) NOT NULL,
	[is_last_day_of_month] [bit] NOT NULL,
	[is_last_day_of_quarter] [bit] NOT NULL,
	[is_last_day_of_year] [bit] NOT NULL,
	[is_weekday] [bit] NOT NULL,
 CONSTRAINT [PK_calendar] PRIMARY KEY CLUSTERED 
(
	[id_date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
