USE [banking]
GO
/****** Object:  Table [dbo].[code_group]    Script Date: 20/11/2025 23:21:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[code_group](
	[code_group] [char](2) NOT NULL,
	[code_group_desc] [varchar](50) NULL,
 CONSTRAINT [PK_code_group] PRIMARY KEY CLUSTERED 
(
	[code_group] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[code_group] ([code_group], [code_group_desc]) VALUES (N'00', N'uncoded')
INSERT [dbo].[code_group] ([code_group], [code_group_desc]) VALUES (N'10', N'charity')
INSERT [dbo].[code_group] ([code_group], [code_group_desc]) VALUES (N'20', N'vehicle')
GO
