USE [banking]
GO
/****** Object:  StoredProcedure [dbo].[get_transaction_codes]    Script Date: 20/11/2025 11:04:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
Stored procedure for the coding of transactions
begin tran
*/
CREATE proc [dbo].[get_transaction_codes] as
--clear the existing date
truncate table dbo.coded_transactions

--fill with to-be-coded records
insert into dbo.coded_transactions(id_transaction_int, code)
select id_transaction_int, '00ZZ' as code from dbo.transactions

--all transafers get the 00TF code
update CT
set code = '00TF'
from dbo.transactions T
inner join coded_transactions CT on CT.id_transaction_int = T.id_transaction_int
where 
(
	T.transaction_type = 'TFR' or transaction_type_cd = 'CC-C'
	or left(transaction_desc,14) = 'HSBC CARD PYMT'
)
and CT.code = '00ZZ'

--date, val & description
; with stc as (
		select td = 'PAYPAL PAYMENT', id_date = '2020-06-17', val = -799.8800, code = '60HO' --air bnb northumberland
union	select td = 'PAYPAL PAYMENT', id_date = '2021-06-30', val = -794.5400, code = '60HO' --air bnb perth
union	select td = 'PAYPAL PAYMENT', id_date = '2022-08-05', val = -730.8900, code = '60HO' --air bnb rothbury
union	select td = 'PAYPAL PAYMENT', id_date = '2020-10-07', val = -650.0000, code = '90CO' --pc dell t5810
union	select td = 'PAYPAL PAYMENT', id_date = '2020-04-16', val = -649.9900, code = '90CO' --pc dell t7810
union	select td = 'PAYPAL PAYMENT', id_date = '2021-07-22', val = -641.5000, code = '60HO' --air bnb northumberland
union	select td = 'PAYPAL PAYMENT', id_date = '2021-02-15', val = -635.0000, code = '90CO' --thinkpad x395
)
update CT
set code = stc.code
from dbo.transactions T
inner join coded_transactions CT on CT.id_transaction_int = T.id_transaction_int
inner join stc on stc.td = T.transaction_desc and stc.id_date = T.id_date and stc.val = T.value
where CT.code = '00ZZ'

--specific descriptions
;with stc as (
		select transaction_desc = 'ADVICE CONFIRMS | RBC20121KHWFJSHU | HBW LAW LIMITED T/', code = '80UH' --uncle harold
union	select tranaction_desc = 'PARKER RHODES/CLT | FINAL DISTRIBUTION', code = '80AC' --ave & chris estate
union	select tranaction_desc = 'PARKER RHODES/CLT | PRH', code = '80AC' --ave & chris estate
union	select tranaction_desc = 'CHURCH COMMISSIONE', code = '80HP' -- hannah pay
union	select tranaction_desc = 'THE CHURCH COMMISS', code = '80HP' -- hannah pay
union	select tranaction_desc = 'LTH NHS TRUST', code = '80JP' -- jason pay
union	select transaction_desc = 'Hannah Lievesley | isa', code = '80IS' -- hannah isa
union	select transaction_desc = 'TRANSFER TO UCA', code = '80IS' -- jason isa
union	select transaction_desc = 'Hannah Lievesley | Concert', code = '60MU' -- concert
union	select transaction_desc = 'Hannah Lievesley | Sainsburys shops', code = '50SA' -- sainsburys
union	select transaction_desc = 'Hannah Lievesley | Card issues', code = '50ZZ' -- probably groceries
union	select transaction_desc = 'Hannah Lievesley | Christmas Averil', code = '80AC' -- Christmas pressie
)
update CT
set code = stc.code
from dbo.transactions T
inner join coded_transactions CT on CT.id_transaction_int = T.id_transaction_int
inner join stc on stc.transaction_desc = T.transaction_desc
where CT.code = '00ZZ'

-- length 10 descriptions
;with stc as (
		select t10 = 'ALLIANCE A', code = '80JP' -- alliance salary
UNION	select t10 = 'LINLEY & S', code = '40NO' -- rental property
UNION	select t10 = 'NS&I PREMI', code = '80PB' -- premium bonds
)
update CT
set code = stc.code
from dbo.transactions T
inner join coded_transactions CT on CT.id_transaction_int = T.id_transaction_int
inner join stc on stc.t10 = left(T.transaction_desc,10)
where CT.code = '00ZZ'

select 
	line_coverage = format(sum(iif(code <> '00ZZ',1,0.00)) / sum(1.00),'0.00%')
	,val_coverage = format(sum(iif(code <> '00ZZ',value_in+value_out,0.00)) / sum(value_in+value_out),'0.00%')
from coded_transactions CT
inner join dbo.transactions T on T.id_transaction_int = CT.id_transaction_int

--commit tran
GO
