USE [banking]
GO
/****** Object:  Table [dbo].[gaps]    Script Date: 25/11/2025 10:39:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[gaps](
	[account_type] [varchar](max) NULL,
	[account_number] [varchar](max) NULL,
	[account_holder] [varchar](max) NULL,
	[statement_date] [date] NULL,
	[opening_balance] [float] NULL,
	[closing_balance] [float] NULL,
	[gap_flag] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
