USE [banking]
GO
/****** Object:  Table [dbo].[account]    Script Date: 20/11/2025 11:04:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[account](
	[id_account] [varchar](100) NOT NULL,
	[company] [varchar](100) NOT NULL,
	[account_type] [varchar](100) NOT NULL,
	[account_number] [varchar](100) NOT NULL,
	[sortcode] [varchar](25) NULL,
	[account_holder] [varchar](150) NOT NULL,
 CONSTRAINT [PK_account] PRIMARY KEY CLUSTERED 
(
	[id_account] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
