USE [banking]
GO
/****** Object:  Table [dbo].[coded_transactions]    Script Date: 20/11/2025 11:04:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[coded_transactions](
	[id_transaction_int] [int] NOT NULL,
	[code] [char](4) NOT NULL,
 CONSTRAINT [PK_coded_transactions] PRIMARY KEY CLUSTERED 
(
	[code] ASC,
	[id_transaction_int] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[coded_transactions]  WITH CHECK ADD  CONSTRAINT [FK_coded_transactions_code] FOREIGN KEY([code])
REFERENCES [dbo].[code] ([code])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[coded_transactions] CHECK CONSTRAINT [FK_coded_transactions_code]
GO
ALTER TABLE [dbo].[coded_transactions]  WITH CHECK ADD  CONSTRAINT [FK_coded_transactions_transactions] FOREIGN KEY([id_transaction_int])
REFERENCES [dbo].[transactions] ([id_transaction_int])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[coded_transactions] CHECK CONSTRAINT [FK_coded_transactions_transactions]
GO
