USE [banking]
GO
/****** Object:  View [dbo].[vwTransactions]    Script Date: 25/11/2025 10:39:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE view [dbo].[vwTransactions] as 

select T.*, C.code, C.code_desc, CG.code_group, CG.code_group_desc
from transactions T
inner join coded_transactions CT on CT.id_transaction_int = T.id_transaction_int
inner join code C on C.code = CT.code
inner join code_group CG on CG.code_group = C.code_group
GO
