USE [banking]
GO
/****** Object:  Table [dbo].[transactions]    Script Date: 25/11/2025 10:39:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[transactions](
	[id_transaction] [varchar](150) NOT NULL,
	[id_transaction_int] [int] NOT NULL,
	[id_statement] [varchar](150) NOT NULL,
	[id_statement_int] [int] NOT NULL,
	[id_account] [varchar](100) NOT NULL,
	[id_date] [date] NOT NULL,
	[transaction_number] [int] NOT NULL,
	[transaction_credit_or_debit] [char](1) NOT NULL,
	[transaction_type] [varchar](25) NOT NULL,
	[transaction_type_cd] [varchar](27) NOT NULL,
	[transaction_desc] [varchar](250) NOT NULL,
	[value_in] [decimal](18, 4) NOT NULL,
	[value_out] [decimal](18, 4) NOT NULL,
	[value] [decimal](18, 4) NOT NULL,
 CONSTRAINT [PK_transactions] PRIMARY KEY CLUSTERED 
(
	[id_transaction] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[transactions]  WITH CHECK ADD  CONSTRAINT [FK_transactions_account] FOREIGN KEY([id_account])
REFERENCES [dbo].[account] ([id_account])
GO
ALTER TABLE [dbo].[transactions] CHECK CONSTRAINT [FK_transactions_account]
GO
ALTER TABLE [dbo].[transactions]  WITH CHECK ADD  CONSTRAINT [FK_transactions_calendar] FOREIGN KEY([id_date])
REFERENCES [dbo].[calendar] ([id_date])
GO
ALTER TABLE [dbo].[transactions] CHECK CONSTRAINT [FK_transactions_calendar]
GO
ALTER TABLE [dbo].[transactions]  WITH CHECK ADD  CONSTRAINT [FK_transactions_statement] FOREIGN KEY([id_statement])
REFERENCES [dbo].[statement] ([id_statement])
GO
ALTER TABLE [dbo].[transactions] CHECK CONSTRAINT [FK_transactions_statement]
GO
