USE [banking]
GO
/****** Object:  Table [dbo].[code]    Script Date: 20/11/2025 11:05:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[code](
	[code] [char](4) NOT NULL,
	[code_desc] [varchar](50) NOT NULL,
	[code_group] [char](2) NOT NULL,
 CONSTRAINT [PK_code] PRIMARY KEY CLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[code] ([code], [code_desc], [code_group]) VALUES (N'00TF', N'transfer', N'00')
INSERT [dbo].[code] ([code], [code_desc], [code_group]) VALUES (N'00UC', N'uncoded', N'00')
INSERT [dbo].[code] ([code], [code_desc], [code_group]) VALUES (N'00ZZ', N'to be coded', N'00')
GO
ALTER TABLE [dbo].[code]  WITH CHECK ADD  CONSTRAINT [FK_code_code_group] FOREIGN KEY([code_group])
REFERENCES [dbo].[code_group] ([code_group])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[code] CHECK CONSTRAINT [FK_code_code_group]
GO
