USE [banking]
GO
/****** Object:  Table [dbo].[statement]    Script Date: 20/11/2025 11:04:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[statement](
	[id_statement] [varchar](150) NOT NULL,
	[id_statement_int] [int] NOT NULL,
	[statement_date] [date] NOT NULL,
	[filename] [varchar](150) NOT NULL,
	[batch_time] [datetime] NOT NULL,
 CONSTRAINT [PK_statement] PRIMARY KEY CLUSTERED 
(
	[id_statement] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[statement]  WITH CHECK ADD  CONSTRAINT [FK_statement_calendar_statement] FOREIGN KEY([statement_date])
REFERENCES [dbo].[calendar_statement] ([id_date])
GO
ALTER TABLE [dbo].[statement] CHECK CONSTRAINT [FK_statement_calendar_statement]
GO
