USE [banking]
GO
/****** Object:  Table [dbo].[balances]    Script Date: 25/11/2025 10:39:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[balances](
	[id_date] [date] NOT NULL,
	[id_account] [varchar](100) NOT NULL,
	[first_day] [date] NOT NULL,
	[last_day] [date] NOT NULL,
	[opening_balance] [decimal](18, 4) NOT NULL,
	[closing_balance] [decimal](18, 4) NOT NULL,
	[pre_date] [bit] NOT NULL,
	[post_date] [bit] NOT NULL,
	[outside_date] [bit] NOT NULL,
 CONSTRAINT [PK_balances] PRIMARY KEY CLUSTERED 
(
	[id_date] ASC,
	[id_account] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[balances]  WITH CHECK ADD  CONSTRAINT [FK_balances_account] FOREIGN KEY([id_account])
REFERENCES [dbo].[account] ([id_account])
GO
ALTER TABLE [dbo].[balances] CHECK CONSTRAINT [FK_balances_account]
GO
ALTER TABLE [dbo].[balances]  WITH CHECK ADD  CONSTRAINT [FK_balances_calendar] FOREIGN KEY([id_date])
REFERENCES [dbo].[calendar] ([id_date])
GO
ALTER TABLE [dbo].[balances] CHECK CONSTRAINT [FK_balances_calendar]
GO
